* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Gordita-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #5b5a5d;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Gordita-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
a{
	color: #5f5e5f;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Gordita-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
@font-face {
	font-family: 'Gordita-Medium';
	src:url('../fonts/Gordita\ Medium.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Gordita-Regular';
    src: url("../fonts/Gordita\ Regular.woff") format("woff");
    font-style: normal
}
#main {
    background: #141414;
    padding: 24px 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1.left {

}
header h1.left a {
    display: inline-block;
}
header h1.left a img {
    display: block;
    width: 100%;
}
header nav.right {
    
}
header nav.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav.right ul li {
    font-size: 16px;
    font-weight: normal;
    color: #3b3a3b;
    margin-right: 30px;
}
header nav.right ul li:last-child {
    margin-right: 0;
}
header nav.right ul li a {
    
}
header nav.right ul li a:hover {
    font-weight: 700;
    color: #fff;
    transition:all .5s ease-in-out ;
    transform: translateY(2%);
}
header nav.right ul li a.button {
    font-size: 16px;
    font-weight: 700;
    color: #d45945;
    padding: 14px 26px;
    background: linear-gradient(#141414,#141414) padding-box,
                linear-gradient(to right, #d45945, #a14d9b) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}
header nav.right ul li a.button:hover{
    background: linear-gradient(to right, #d45945, #a14d9b);
    color: #fff;
    transform:none;
    transition:all .5s ease-in-out;
}
#spotlight {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    
}
#spotlight div.left {
    width: 60%;
}
#spotlight div.left h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 60px;
}
#spotlight div.left h2 a {
    color: #d45945;
    font-weight: 700;
    font-size: 48px;
}
#spotlight div.left p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 1.8em;
}
#spotlight div.left a.button {
    padding: 15px 24px;
    color: #fff;
    width: 30%;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    display: block;
    background-image: linear-gradient(to right, #d45945, #a14d9b);
}
#spotlight div.left a.button b {
    font-weight: 700;
    color: #fff;
}
#spotlight div.right {
    width: 50%;
}
#spotlight div.right div.img_container{
    width: 100%;
    position: relative;
    z-index: 0;
}
#spotlight div.right div.img_container a img {
    display: block;
    width: 100%;
}
#spotlight div.right div.img_container::before {
    content: "";
    background: url(../images/pattern.png) no-repeat center;
    display: block;
    width: 40%;
    height: 500px;
    z-index: -1;
    filter: blur(35px);
    position: absolute; 
    top: 140px;
    right: 450px;
    rotate: -5deg;
}   
#spotlight div.right div.img_container::after {
    content: "";
    background: url(../images/pattern.png) no-repeat center;
    display: block;
    width: 40%;
    height: 200px;
    z-index: -1;
    filter: blur(50px);
    position: absolute;
    top: 55px;
    right: 35px;
    rotate: 45deg;
}
#awards {
    padding: 60px 0;
    background: #141414;
}
#awards ul {
    display: flex;
    justify-content: space-between;

}
#awards ul li {
    padding: 30px 20px;
    width: 24.5%;
    border: 1px solid transparent;
    border-radius: 5px;
    background: linear-gradient(#141414,#141414) padding-box,
                linear-gradient(to right, #d45945, #a14d9b) border-box;
}
#awards ul li div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
#awards ul li div.top a {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #5b5a5d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#awards ul li div.top a img {
    display: block;
    width: 100%;
}
#awards ul li div.top span {
    font-size: 16px;
    font-weight: 600;
}
#awards ul li div.middle {
    
}
#awards ul li div.middle h3 {
    font-size: 16px;
    margin-bottom: 35px;
}
#awards ul li div.middle p {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 35px;
}
#awards ul li div.middle div.image_container {
    width: 10%;
    margin-bottom: 35px;
}
#awards ul li div.middle div.image_container img {
    display: block;
    width: 100%;
}
#awards ul li div.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#awards ul li div.bottom small {
    font-size: 16px;
    font-weight: 700;
    color: #fff;

}
#awards ul li div.bottom span {
    width: 10%;
}
#awards ul li div.bottom span img {
    width: 100%;
    display: block;
}
#awards ul li:hover {
    background-image: linear-gradient(to right, #d45945, #a14d9b);
    transform: scale(105%);
    color: #fff;
    transition: all .5s ease-in-out;
}
#awards ul li:hover div.top a {
    background: #141414;
}
#design {
    padding: 60px 0;
    background: #141414;
}
#design div.content {
    background-image: linear-gradient(to right, rgb(20, 20, 20,0.2), rgb(212, 89, 69,0.8)),url(../images/Footer\ -\ image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    width: 100%;
    height: 500px;
    padding: 100px 100px;
}
#design div.content h2 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    width: 50%;
    margin-bottom: 35px;
}
#design div.content p {
    font-size: 20px;
    font-family: Gordita-Regular;
    color: #949494;
    width: 45%;
    margin-bottom: 35px;
}
#design div.content form {
    background: #fff;
    padding: 20px 25px;
    width: 35%;
    border-radius: 8px;
    position: relative;
}
#design div.content form input[type=email] {
    display: block;
}
#design div.content form a.button {
    padding: 19px 25px;
    border-radius: 8px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(to right, #d45945, #a14d9b);
}
footer {
    background: #141414;
    padding: 60px 0;
    
}
footer section.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div.address {
    width: 30%;
}
footer div.address h1 {
    width: 80%;
    margin-bottom: 10px;
}
footer div.address h1 a {
    display: block;
    
}
footer div.address h1 a img {
    display: block;
    width: 100%;
}
footer div.address p {
    font-size: 16px;
    color: #bdbdbd;
    font-family: Gordita-Regular;
}
footer div.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}
footer div.right ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
footer div.right ul li {
    margin-right: 10px;
    width: 25%;
}
footer div.right ul li:last-child {
    margin-right: 0px;
}
footer div.right ul li a {
    font-size: 16px;
    color: #bdbdbd;
    font-family: Gordita-Regular;
}
footer div.right ul li:hover a {
    font-weight: 700;
    color: #fff;
    transition:all .5s ease-in-out ;
    transform: translateY(2%);
}
footer div.right div.vl {
    border-left: 1px solid #bdbdbd;
    height: 60px;
    display: block;
}
footer div.right span {
    font-size: 16px;
    color: #bdbdbd;
    font-family: Gordita-Regular;
}
footer div.right span a {
    color: #d45945;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}
@media all and (max-width:1280px) {
    header h1.left {
        width: 20%;
    }
    header nav.right {
        width: 60%;
    }
    header nav.right ul li {
        margin-right: 10px;
        width: 15%;
        font-size: 14px;
    }
    header nav.right ul li:last-child {
        margin-right: 0;
        width: 22%;
    }
    header nav.right ul li a.button {
        margin-right: 0px;
        padding: 12px 24px;
        font-size: 14px;
    }
    #spotlight div.left h2 {
        font-size: 42px;
        margin-bottom: 40px;
    }
    #spotlight div.left h2 a{
        font-size: 42px;
    }
    #spotlight div.left p{
        font-size: 16px;
        margin-bottom: 30px;
    }
    #spotlight div.left a.button {
        width: 35%;
        font-size: 12px;
    }
    #spotlight div.right div.img_container::before {
        content: "";
        background: url(../images/pattern.png) no-repeat center;
        display: block;
        width: 30%;
        height: 250px;
        z-index: -1;
        filter: blur(35px);
        position: absolute;
        top: 240px;
        right: 415px;
        rotate: -27deg;
    }
    #awards {
        padding: 40px 0;
    }
    #awards ul li {
        padding: 20px 10px;
    }
    #awards ul li div.top{
        margin-bottom: 30px;
    }
    #awards ul li div.middle h3 {
        font-size: 15px;
        margin-bottom: 25px;
    }
    #awards ul li div.top span {
        font-size: 12px;
        font-weight: 600;
    }
    #awards ul li div.middle p {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 25px;
    }
    #awards ul li div.middle div.image_container {
        margin-bottom: 25px;
    }
    #awards ul li div.bottom small {
        font-size: 12px;
    }
    #design div.content {
        padding: 60px 60px;
        height: 450px;
    }
    #design div.content h2 {
        font-size: 40px;
        width: 65%;
        margin-bottom: 35px;
    }
    #design div.content p {
        font-size: 17px;
        width: 55%;
        margin-bottom: 35px;
    }
    #design div.content form {
        padding: 18px 20px;
        width: 40%;
    }
    #design div.content form a.button {
        padding: 18px 20px;
        font-size: 14px;
    }
    footer div.address p {
        font-size: 14px;
    }
    footer div.right {
       flex-wrap: wrap;
       justify-content: center;
       line-height: 1.8em;
        width: 40%;
    }
    footer div.right ul {
        display: flex;
        width: 85%;
        justify-content: space-between;
        align-items: center;
    }
    footer div.right ul li {
        margin-right: 8px;
        width: 23%;
    }
    footer div.right ul li {
        width: 26%;
    }
    footer div.right ul li a {
        font-size: 12px;
    }
    footer div.right div.vl{
        display: none;
    }
    footer div.right span {
        font-size: 12px;
    }
    footer div.right span a {
        font-size: 12px;
    }
}
@media all and (max-width:980px){
    #main section.wrapper {
        width: 95%;
        margin: 0 auto;
    }
    header nav.right {
        width: 70%;
    }
    header nav.right ul {
       text-align: center;
    }
    header nav.right ul li {
        margin-right: 8px;
        width: 15%;
        font-size: 12px;
    }
    header nav.right ul li a.button {
        margin-right: 0px;
        padding: 10px 22px;
        font-size: 12px;
    }
    #spotlight {
        padding-top: 70px;
    }
    #spotlight div.left h2 {
        font-size: 40px;
        margin-bottom: 35px;
    }
    #spotlight div.left p {
        font-size: 14px;
    }
    #spotlight div.left a.button {
        width: 42%;
       padding: 12px 24px;
    }
    #spotlight div.right div.img_container::before {
        content: "";
        background: url(../images/pattern.png) no-repeat center;
        display: block;
        width: 45%;
        height: 220px;
        z-index: -1;
        filter: blur(35px);
        position: absolute;
        top: 150px;
        right: 255px;
        rotate: -27deg;
    }
    #awards {
        padding: 35px 0;
    }
    #awards ul {
        flex-wrap: wrap;
    }
    #awards ul li {
        width: 48%;
        margin-bottom: 28px;
    }
    #awards ul li div.top span {
        font-size: 14px;
    }
    #awards ul li div.middle h3 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    #awards ul li div.middle p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    div.image_container {
        margin-bottom: 30px;
    }
    #awards ul li div.bottom {
        margin-bottom: 10px;
    }
    #awards ul li div.bottom small {
        font-size: 16px;
    }
    #design {
        padding: 50px 0;
    }
    #design div.content {
        padding: 50px ;
        height: 400px;
    }
    #design div.content h2 {
        font-size: 34px;
        width: 70%;
        margin-bottom: 40px;
    }
    #design div.content p {
        font-size: 15px;
        width: 62%;
        margin-bottom: 40px;
    }
    #design div.content form a.button {
        padding: 17px 20px;
        font-size: 12px;
    }
    #design div.content form {
        padding: 17px 20px;
        width: 45%;
    }
    #design div.content form input[type=email] {
        font-size: 12px;
    }
    footer {
        padding: 45px 0;
    }
    footer div.address {
        width: 33%;
    }
    footer div.right {
        width: 45%;
    }
    footer div.right ul {
        width: 100%;
    }
}
@media all and (max-width:768px) {
    #main {
        padding-top: 24px;
    }
    #main section.wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1300px;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header h1.left {
        width: 50%;
    }
    header nav.right {
        display: none;
    }
    #spotlight {
        padding-bottom: 30px ;
        justify-content: center;
    }
    #spotlight div.right {
        width: 40%;
    }
    #spotlight div.right div.img_container::before {
        display: none;
    }
    #spotlight div.right div.img_container::after {
        position: absolute;
        top: 30px;
        right: 100px
    }
    #spotlight div.left h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }
    #spotlight div.left h2 a {
        font-size: 32px;
    }
    #spotlight div.left a.button {
        width: 51%;
        padding: 10px 22px;
    }
    #awards {
        padding-bottom: 20px;
    }
    #design div.content {
        height: 320px;
    }
    #design div.content h2 {
        font-size: 30px;
        width: 70%;
        margin-bottom: 20px;
    }
    #design div.content p {
        font-size: 12px;
        width: 65%;
        margin-bottom: 20px;
    }
    #design div.content form {
        padding: 12px 16px;
        width: 45%;
    }
    #design div.content form input[type=email] {
        font-size: 10px;
    }
    #design div.content form a.button {
        padding: 12px 16px;
        font-size: 10px;
    }
    footer {
        padding:0 0 20px ;
    }
    footer div.address {
        width: 40%;
    }
    footer div.address p {
        font-size: 12px;
    }
    footer div.right ul {
       display: none;
    }
}
@media all and (max-width:640px) {
    #main{
        padding-bottom: 0;
    }
    #spotlight {
        padding: 50px 0 0;
    }
    #spotlight div.left {
        width: 70%;
    }
    #spotlight div.left h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    #spotlight div.left h2 a {
        font-size: 24px;
        margin-bottom: 30px;
    }
    #spotlight div.left p {
        font-size: 10px;
        width: 96%;
    }
    #spotlight div.right div.img_container::after {
        position: absolute;
        top: 9px;
        right: 76px;
    }
    #spotlight div.left a.button {
        width: 38%;
        padding: 8px 12px;
        font-size: 8px;
    }
    #awards ul li {
        width: 49%;
        margin-bottom: 9px;
    }
    #awards ul li div.top a {
        width: 40px;
        height: 40px;
    }
    #awards ul li div.top span {
        font-size: 12px;
    }
    #awards ul li div.middle h3 {
        font-size: 14px;
        margin-bottom: 24px;
    }
    #awards ul li div.middle p {
        font-size: 16px;
        margin-bottom: 24px;
    }
    #awards ul li div.middle div.image_container {
        margin-bottom: 20px;
    }
    #awards ul li div.bottom small {
        font-size: 14px;
    }
    #design {
        padding: 25px 0;
    }
    #design div.content {
        height: 250px;
        text-align: center;
        padding: 30px;
    }
    #design div.content h2 {
        font-size: 24px;
        width: 90%;
        margin: 0 auto ;
    }
    #design div.content p {
        font-size: 12px;
        width: 80%;
        margin:20px 37px;
    }    
    #design div.content form {
        padding: 8px 10px;
        width: 45%;
        margin: auto;
    }
    #design div.content form input[type=email] {
        font-size: 8px;
    }
    #design div.content form a.button {
        padding: 8px 10px;
        font-size: 8px;
    }
    footer section.wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    footer div.address {
        width: 40%;
        text-align: center;
    }
    footer div.address h1 {
        width: 80%;
        margin: 10px 18px;
    }
    footer div.address p {
        font-size: 10px;
    }
    footer div.right span {
        font-size: 10px;
    }
    footer div.right span a {
        font-size: 10px;
    }
}
@media all and (max-width:480px){
    header h1.left {
        width: 40%;
    }
    #spotlight {
        padding: 16px 0 0;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    #spotlight div.right div.img_container {
        display: none;
    }
    #spotlight div.left h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    #spotlight div.left h2 a {
        font-size: 20px;
    }
    #spotlight div.left p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 16px;
    }
    #spotlight div.left a.button {
        width: 55%;
        padding: 8px 12px;
        font-size: 12px;
        margin: auto;
    }
    #awards {
        padding: 40px 0 30px;
    }
    #awards ul li {
        width: 100%;
        padding: 30px;
    }
    #awards ul li div.top a {
        width: 50px;
        height: 50px;
    }
    #awards ul li div.top span {
        font-size: 14px;
    }
    #awards ul li div.middle h3 {
        font-size: 16px;
    }
    #awards ul li div.middle p {
        font-size: 18px;
    }
    #awards ul li div.bottom small {
        font-size: 16px;
    }
    #design{
        padding: 15px 0;
    }
    #design div.content {
        height: 175px;
        text-align: center;
        padding: 10px;
    }
    #design div.content p {
        font-size: 12px;
        width: 90%;
        margin: 10px auto ;
    }
    #design div.content form {
        padding: 5px 10px;
        width: 50%;
        margin: auto;
    }
    #design div.content form a.button {
        padding: 5px 10px;
    }
    footer div.address {
        width: 50%;
    }
    footer div.right{
        width: 50%;
    }  
    footer div.right span {
        font-size: 8px;
    } 
    footer div.right span a {
        font-size: 8px;
    } 
}
@media all and (max-width:360px){
    #spotlight {
        padding: 20px 0 20px;
    }
    #spotlight div.left p {
        font-size: 13px;
    }
    #spotlight div.left a.button {
        width: 60%;
        padding: 14px 18px;
        font-size: 10px;
        margin: auto;
    }
    #awards ul li {
        padding: 25px;
    }
    #design div.content form {
        padding: 8px 16px;
        width: 60%;
    }
    #design div.content form a.button {
        padding: 8px 10px;
    }
    footer div.address {
        width: 60%;
    }
}








